@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul li {
  display: inline;
}

.color-theme-red {
  color: var(--theme-red);
}

.color-theme-black {
  color: var(--theme-black);
}

.color-theme-blue {
  color: var(--theme-blue);
}

.color-theme-grey {
  color: var(--theme-grey);
}

.color-theme-white {
  color: white;
}

.align-to-main {
  max-width: var(--main-content-width);
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-to-center {
  align-items: center;
}

.btn {
  background-color: var(--theme-red);
  border: none;
  text-transform: uppercase;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 900;
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
  font-weight: 900;
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
  font-weight: 600;
}

h6 {
  font-size: var(--h6-size);
  font-weight: 700;
}

p {
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

.mild-bold {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.table-container {
  padding-top: 15vh;
  text-align: center;
  line-height: 1.2em;
}
